/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --primary-100: #dfdfeb;
  --primary-200: #c0bfd7;
  --primary-300: #a09fc3;
  --primary-400: #817faf;
  --primary-500: #615f9b;
  --primary-600: #4e4c7c;
  --primary-700: #3a395d;
  --primary-800: #27263e;
  --primary-900: #13131f;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: #feeee3;
  --textColor: var(--primary-700);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--textColor);
  text-align: center;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
/* form */

.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: inline-block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
/* alert */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
  margin: 0 auto;
}

/* title */

.title {
  text-align: center;
}

.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: 1rem;
}
.link-btn {
  margin: 3rem;
}

.container {
  width: 90vw;
  max-width: var(--max-width);
  margin: 5rem auto;
}
/* ============= PROJECT CSS =============== */

/*Navbar*/
nav {
  /* width: 100vw; */
  background: var(--white);
  box-shadow: var(--shadow-1);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title h3 {
  font-weight: 700;
  color: var(--grey-800);
}

.title span {
  color: var(--primary-500);
  font-weight: 700;
  font-size: 4rem;
  font-family: "Dancing Script", cursive;
}

.title h3:hover {
  color: var(--primary-500);
  span {
    color: var(--grey-800);
  }
}

.nav-center {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1rem;
}

.links a {
  font-size: 1.3rem;
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  color: var(--grey-400);
  display: block; /*make the hover space bigger*/
  transition: var(--transition);
  letter-spacing: var(--letterSpacing);
  background: transparent;
}

.links a:hover {
  color: var(--primary-500);
  padding-left: 1.5rem;
  background-color: var(--primary-100);
}

.social-icons {
  display: none;
}

.service-links a {
  color: var(--primary-700);
  font-size: 1rem;
  margin-bottom: 0;
}

nav a.active {
  color: #a0138e;
  font-weight: 500;
}

@media screen and (min-width: 992px) {
  .nav-toggle {
    display: none;
  }
  .nav-header {
    padding: 0;
  }

  .nav-center {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .service-links {
    /* width: 60vw; */
    border-top: 1px solid var(--grey-500);
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: var(--primary-600);
    padding-top: 0.5rem;
  }


  .service-links a:hover {
    background: var(--primary-400);
  }

  .social-icons {
    display: flex;
    gap: 0.5rem;
  }

  .links-container {
    height: auto !important;
  }

  .links {
    display: flex;
    gap: 1.5rem;
  }

  .links a {
    padding: 0;
    margin-bottom: 0.5rem;
  }

  .links a:hover {
    padding: 0;
    background: transparent;
  }

  .social-icons a {
    color: var(--primary-500);
    transition: var(--transition);
  }

  .social-icons a:hover {
    color: var(--primary-300);
  }
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--primary-500);
  background: transparent;
  border: transparent;
  cursor: pointer;
  transition: var(--transition);
}

.nav-toggle:hover {
  color: var(--primary-700);
  transform: rotate(90deg);
}

/* default hide the 160px(10rem) of link container*/
.links-container {
  overflow: hidden;
  transition: var(--transition);
}

/*Hero*/

.hero {
  min-height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./assets/heroImg.png") center/cover no-repeat;
}

.hero-banner {
  width: 90vw;
  max-width: var(--max-width);
  text-align: center;
  color: var(--primary-700);
}
.hero-banner h2 {
  text-transform: uppercase;
  line-height: 1.2;
}

.hero-banner h2 em {
  font-weight: 800;
}
.hero-banner p {
  max-width: 35rem;
  margin: 3rem auto;
  color: var(--primary-800);
  letter-spacing: var(--spacing);
  line-height: 1.5;
}

.hero-btn {
  padding: 0.9rem 1.6rem;
  font-size: 1.25rem;
  background: var(--primary-400);
  border: transparent;
  border-radius: 5px;
  color: var(--white);
  text-transform: uppercase;
  box-shadow: var(--shadow-3);
}
.hero-btn:hover {
  background: transparent;
  color: var(--primary-500);
  border: 2px solid var(--primary-500);
}
.pop {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  font-weight: 800;
}
@media screen and (min-width: 768px) {
  .hero-banner {
    padding: 0;
  }
  .hero-banner p {
    max-width: 45rem;
  }
}

/*Service*/
.service {
  margin: 5rem auto;
  text-align: center;
}

.service p {
  max-width: var(--max-width);
  width: 90vw;
  margin: 3rem auto;
  color: var(--primary-500);
  letter-spacing: var(--spacing);
  line-height: 1.5;
  padding: 0 2rem;
}

.service-container {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
  display: grid;
  gap: 2rem;
}
.service-card {
  box-shadow: var(--shadow-2);
  transition: var(--transition);
}
.service-card:hover {
  scale: 1.05;
}
.service-card .img {
  height: 25rem;
}

.service-card h5 {
  margin-top: 1rem;
  font-weight: 600;
  color: var(--primary-500);
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .service-container {
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
}

@media (min-width: 992px) {
  .service-container {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }
}

/*Footer*/
hr {
  margin-bottom: 1rem;
}
footer span {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  color: var(--primary-500);
}

footer p {
  margin: 1rem;
  color: var(--grey-500);
}

/*About*/
.about {
  width: 90vw;
  max-width: var(--max-width);
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

.about-info h1 {
  font-family: "Dancing Script", cursive;
  margin-bottom: 2rem;
}

.about-info p {
  padding: 1rem;
  line-height: 1.5;
  text-align: left;
}

@media (min-width: 992px) {
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .about-info {
    display: grid;
    place-items: center;
  }

  .about-info h1 {
    margin-bottom: 5rem;
  }
}

/*contact*/
.form {
  background: transparent;
  text-align: start;
  box-shadow: none;
}
.form-input {
  border: 1px solid var(--primary-500);
}

.form-label {
  color: var(--primary-500);
}

.form h1 {
  font-family: "Dancing Script", cursive;
  margin-bottom: 2rem;
}

.form-container {
  margin-bottom: 2rem;
}
